<div class="toolbar" role="banner">

  <span style="padding-left: 20px;">My Angular App</span>
  <div class="spacer"></div>
  <span style="padding-right: 10px;">
    <button style="background-color: #1976d2; /* Blue */
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;">Product</button></span>
  <span style="padding-right: 78px;">
    <button style="background-color: #1976d2; /* Blue */
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;">Logout</button></span>
</div>
<br>
<app-rows></app-rows>
